.AlcFilterCont{
    position: relative;
    width: 100%;
    text-align: center;
}
.AlcFilterTitle{
    width: 90%;
    position: relative;
    font-size: 1.8vw;
    margin-bottom: 1vh;
    color: #76323f;
}
.AlcFilterRadio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.css-ahj2mt-MuiTypography-root{
    font-size: 1.2vw !important;
}
@media screen and (max-width: 500px) {

    .AlcFilterTitle{
        font-size: 3.2vw;
    }
    .css-ahj2mt-MuiTypography-root{
        font-size: 2.5vw !important;
    }

}