*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Roboto', sans-serif;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
}

header{
  position: relative;
  width: 100vw;
  height: 7.5vh;
  top: 0;
  left: 0;
  background-color: #d7cec7;
}
.appContainer{
  position: relative;
  width: 100vw;
  height: 92.5vh;
  display: flex;
  flex-direction: row;
}

.filterPage{
  height: 100%;
  width: 20%;
  background-color: #d7cec7;
}
.resultsPage{
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1%;
  padding: 1%;
  overflow: hidden;
  overflow-y: scroll;
  /* background-color: #76323f; */
  background-color: #d7cec7;

}


