*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #B0C4DE;
}

header{
  position: relative;
  width: 100vw;
  height: 10vh;
  top: 0;
  left: 0;
}
.appContainer{
  position: relative;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
}

.searchBar{
  height: 100%;
  width: 25%;
  border: black 1px solid;
}
.resultsPage{
  height: 100%;
  width: 75%;
  border: gray 1px solid;
}


